### Dictionary Methods

In [4]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### keys()

- It returns a key inside a dictionary object containing a list from the dictionary

In [5]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
d.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [7]:
emp_1 = {'name':'Rajesh', 'age':22, 'ID':101, 'salary':45000, 'city' : 'Bengaluru'}
emp_2 = {'name':'Priya', 'age':27, 'ID':102, 'salary':55000, 'city' : 'Surat'}
emp_3 = {'name':'Abha', 'age':29, 'ID':103, 'salary':75000, 'city' : 'Panchkula'}

emp_detail = {'emp1_detail':emp_1, 'emp2_detail':emp_2, 'emp3_detail':emp_3}
emp_detail

{'emp1_detail': {'name': 'Rajesh',
  'age': 22,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp2_detail': {'name': 'Priya',
  'age': 27,
  'ID': 102,
  'salary': 55000,
  'city': 'Surat'},
 'emp3_detail': {'name': 'Abha',
  'age': 29,
  'ID': 103,
  'salary': 75000,
  'city': 'Panchkula'}}

In [8]:
emp_detail.keys()

dict_keys(['emp1_detail', 'emp2_detail', 'emp3_detail'])

#### Inner Keys

In [9]:
for i in emp_detail:
    print(i, emp_detail[i].keys())

emp1_detail dict_keys(['name', 'age', 'ID', 'salary', 'city'])
emp2_detail dict_keys(['name', 'age', 'ID', 'salary', 'city'])
emp3_detail dict_keys(['name', 'age', 'ID', 'salary', 'city'])

### Values 

- It returns a dictionary object, containing a list of the values from the dictionary

In [10]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
d.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [12]:
emp_detail

{'emp1_detail': {'name': 'Rajesh',
  'age': 22,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp2_detail': {'name': 'Priya',
  'age': 27,
  'ID': 102,
  'salary': 55000,
  'city': 'Surat'},
 'emp3_detail': {'name': 'Abha',
  'age': 29,
  'ID': 103,
  'salary': 75000,
  'city': 'Panchkula'}}

In [13]:
emp_detail.values()

dict_values([{'name': 'Rajesh', 'age': 22, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}, {'name': 'Priya', 'age': 27, 'ID': 102, 'salary': 55000, 'city': 'Surat'}, {'name': 'Abha', 'age': 29, 'ID': 103, 'salary': 75000, 'city': 'Panchkula'}])

#### Inner values

In [14]:
for i in emp_detail:
    print(i, emp_detail[i].values())

emp1_detail dict_values(['Rajesh', 22, 101, 45000, 'Bengaluru'])
emp2_detail dict_values(['Priya', 27, 102, 55000, 'Surat'])
emp3_detail dict_values(['Abha', 29, 103, 75000, 'Panchkula'])

### items()

- It returns a dictionary object, that contains a list of tuples where every tuple has two values in it.
- The first element of the tuple is the key and the second element of the tuple is the value associated to that key

In [15]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
d.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [17]:
emp_detail

{'emp1_detail': {'name': 'Rajesh',
  'age': 22,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp2_detail': {'name': 'Priya',
  'age': 27,
  'ID': 102,
  'salary': 55000,
  'city': 'Surat'},
 'emp3_detail': {'name': 'Abha',
  'age': 29,
  'ID': 103,
  'salary': 75000,
  'city': 'Panchkula'}}

In [18]:
emp_detail.items()

dict_items([('emp1_detail', {'name': 'Rajesh', 'age': 22, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}), ('emp2_detail', {'name': 'Priya', 'age': 27, 'ID': 102, 'salary': 55000, 'city': 'Surat'}), ('emp3_detail', {'name': 'Abha', 'age': 29, 'ID': 103, 'salary': 75000, 'city': 'Panchkula'})])

#### Inner items

In [19]:
for i in emp_detail:
    print(i, emp_detail[i].items())

emp1_detail dict_items([('name', 'Rajesh'), ('age', 22), ('ID', 101), ('salary', 45000), ('city', 'Bengaluru')])
emp2_detail dict_items([('name', 'Priya'), ('age', 27), ('ID', 102), ('salary', 55000), ('city', 'Surat')])
emp3_detail dict_items([('name', 'Abha'), ('age', 29), ('ID', 103), ('salary', 75000), ('city', 'Panchkula')])

In [20]:
for i in emp_detail.items():
    print(i)

('emp1_detail', {'name': 'Rajesh', 'age': 22, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'})
('emp2_detail', {'name': 'Priya', 'age': 27, 'ID': 102, 'salary': 55000, 'city': 'Surat'})
('emp3_detail', {'name': 'Abha', 'age': 29, 'ID': 103, 'salary': 75000, 'city': 'Panchkula'})

In [23]:
for i , j in emp_detail.items():
    print(i)
    print(j)
    print('--------------------------')

    for x in j.items():
        print(x)
    print()

emp1_detail
{'name': 'Rajesh', 'age': 22, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}
--------------------------
('name', 'Rajesh')
('age', 22)
('ID', 101)
('salary', 45000)
('city', 'Bengaluru')

emp2_detail
{'name': 'Priya', 'age': 27, 'ID': 102, 'salary': 55000, 'city': 'Surat'}
--------------------------
('name', 'Priya')
('age', 27)
('ID', 102)
('salary', 55000)
('city', 'Surat')

emp3_detail
{'name': 'Abha', 'age': 29, 'ID': 103, 'salary': 75000, 'city': 'Panchkula'}
--------------------------
('name', 'Abha')
('age', 29)
('ID', 103)
('salary', 75000)
('city', 'Panchkula')

### update()

- It is used to update the elements of one dictionary to another dictionary 
- It is used to combine two dictionary 

__Syntax:__
        
        dict_1.update(dict_2)
        
__Note:__ 

- update() method takes a dictionary as an argument or input
- The elements of the dictionary 2 will be updated in dictionary 1

In [24]:
d = {i:i**2 for i in range(1,11) if i%2 == 0}
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [25]:
d2 = {i:i**3 for i in range(1,11) if i%2 != 0}
d2

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [26]:
d.update(d2)

In [27]:
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [28]:
d = {i:i**2 for i in range(1,11) if i%2 == 0}
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [29]:
d2.update(d)
d2

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [35]:
d.update(1)

TypeError: 'int' object is not iterable

In [36]:
d.update([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [34]:
d2.update({1:100})
d2

{1: 100, 3: 27, 5: 125, 7: 343, 9: 729, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### pop()

- It returns the value at a specified key from the dictionary and removes the element at that particular key from the dictionary 
- For an invalid key it will raise an error

In [39]:
d = {i:i**2 if i%2 == 0 else i**3 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [40]:
d.pop(7)

343

In [41]:
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 8: 64, 9: 729, 10: 100}

In [42]:
d.pop(100)

KeyError: 100

### popitem()

- It returns the last element and removes the element from the dictionary
- It will not take an kind of arguments in it

In [43]:
d = {i:i**3 for i in range(1,11)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [44]:
d.popitem()

(10, 1000)

In [45]:
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [46]:
d.popitem(2)

TypeError: dict.popitem() takes no arguments (1 given)

### fromkeys()

- It is used to assign the same value to multiple keys

    __Syntax:__
        
        dict.from_keys(iterable, value)
  
__Note:__ The iterable should have keys

In [48]:
name = ('Rajesh', 'Karan', 'Aman', 'Priya', 'Abha')

# {'Rajesh':'Learnbay', 'Karan':'Learnbay', 'Aman':'Learnbay,......}

In [49]:
dict.fromkeys(name, 'Learnbay')

{'Rajesh': 'Learnbay',
 'Karan': 'Learnbay',
 'Aman': 'Learnbay',
 'Priya': 'Learnbay',
 'Abha': 'Learnbay'}

In [50]:
name = ['Rajesh', 'Karan', 'Aman', 'Priya', 'Abha']

# {'Rajesh':'Learnbay', 'Karan':'Learnbay', 'Aman':'Learnbay,......}

In [51]:
dict.fromkeys(name, 'Benagluru')

{'Rajesh': 'Benagluru',
 'Karan': 'Benagluru',
 'Aman': 'Benagluru',
 'Priya': 'Benagluru',
 'Abha': 'Benagluru'}

In [52]:
num = [i for i in range(1,11)]

dict.fromkeys(num, 'real_number')

{1: 'real_number',
 2: 'real_number',
 3: 'real_number',
 4: 'real_number',
 5: 'real_number',
 6: 'real_number',
 7: 'real_number',
 8: 'real_number',
 9: 'real_number',
 10: 'real_number'}

### get()

- It takes a key as an argument and returns the value associated to that key 
- For any invalid key, it will return a None

In [53]:
d = {i:i**3 for i in range(1,11)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [54]:
d.get(1)

1

In [55]:
d.get(9)

729

In [57]:
print(d.get(11))

None

### setdefault()

- It takes a key as an argument
- If the key already exist, then it will return the value at that particular key
- If the key doesn't exist, then it creates one and assign a None value to it
- We can pass key and values both

In [58]:
name

['Rajesh', 'Karan', 'Aman', 'Priya', 'Abha']

In [59]:
cities = ['chennai', 'bengaluru', 'mumbai', 'Chandigarh', 'mohali']

In [60]:
emp = dict(zip(name, cities))
emp

{'Rajesh': 'chennai',
 'Karan': 'bengaluru',
 'Aman': 'mumbai',
 'Priya': 'Chandigarh',
 'Abha': 'mohali'}

In [61]:
emp.setdefault('Priya')

'Chandigarh'

In [62]:
emp.setdefault('Mayank')

In [63]:
emp

{'Rajesh': 'chennai',
 'Karan': 'bengaluru',
 'Aman': 'mumbai',
 'Priya': 'Chandigarh',
 'Abha': 'mohali',
 'Mayank': None}

#### we can pass both keys and values also in the setdefault method

In [66]:
emp.setdefault('Chandni', 'amritsar')

'amritsar'

In [67]:
emp

{'Rajesh': 'chennai',
 'Karan': 'bengaluru',
 'Aman': 'mumbai',
 'Priya': 'Chandigarh',
 'Abha': 'mohali',
 'Mayank': None,
 'Chandni': 'amritsar'}

### clear()

- It removes all the elements from the dictionary and makes the dictioanry empty

In [68]:
emp

{'Rajesh': 'chennai',
 'Karan': 'bengaluru',
 'Aman': 'mumbai',
 'Priya': 'Chandigarh',
 'Abha': 'mohali',
 'Mayank': None,
 'Chandni': 'amritsar'}

In [69]:
emp.clear()

In [70]:
emp

{}

### copy()

- It copies all the element of the dictionary and creates a new dictionary

In [71]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [72]:
d1 = d.copy()
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
print(id(d), id(d1))

2180744523264 2180745566656

### Functions

- A function is a block of code that gets executed as and when it is called
- A function is used to reuse a code 
- By using function, we write the code once and we use it n number of times in the same program
- A function helps us to reduce the lines of the code in a program


__Syntax:__
                
                # Function declaration  
            
                          def function_name(): 
                              code 
                              code 
                              return some value 
                              
                # Function calling
                            
                            function_name()

In [75]:
a = 10
b = 20
c = a+b
print(c)

30

In [76]:
# define a function which gives me the addition of two numbers

def add(x,y):
    c = x+y
    return c

In [77]:
add(7,8) # x = 7, y = 8

15

In [78]:
add(9,10) # x = 9, y = 10

19

In [79]:
add(-1,-3) # x = -1, y = -9

-4

### Type of Functions

- Built-in function or In-built functions
- User-defined Functions (functions created by us )


#### Built-in Functions or In-built Functions
    
- Those functions that are already defined in Python are Known as in-built functions or predefined functions
- As a user, we have not created them we will just use them
- Examples: print(), len(), help(), id(), ord(), chr(), type() etc
  
#### User-defined Functions 

- The functions that are defined or created by the user are known as user-defined functions 
- In user-defined functions, the programmer has to write their logic on how the function should work
- We create functions to solve a particular problem
- A user-defined function is defined by using a def keyword

### Components of a User-defined functions 

- Function definition or function declaration
- Function call 

#### Function Declaration or Definition 

    - This is the place where we define a function with a name, writes a logic (code) on what will be the functionality of the function we have craeted 
    
    Syntax:
        
        def function_name():
            
            # function body
            code
            code
            code
            code
            code

In [80]:
# create a function that add two numbers in it 

def add():# function declaration 

    # Function body
    a = eval(input('Enter a number: '))
    b = eval(input('Enter a number: '))

    c = a+b

    return c

#### Function Call

- A function call is a kind of a trigger
- As and when called the defined function will be executed and we will get the desired result there only

__Syntax:__
        
        function_name()

In [81]:
add()

Enter a number:  1
Enter a number:  2

3

### Types of User-Defined function 

- Parameterised functions
- Non-Parameterised functions

#### Parameterised functions
    
- When we pass parameters inside a function declaration then it is called as parameterized function
 
#### Non-Parameterised functions
    
- When we are not passing any parameters inside a function they are called non-parameterised functions 
    
#### Parameter 

- When we pass variables inside a function declaration then those variables are called as parameters
  
#### Arguments 
    
- When we pass variables inside the function call then those variables are called arguments

In [83]:
# Parameterized Function 

def add(x,y): # Here x and y are parameters
    c = x+y
    return c

a = 5
b = 7

add(a,b) # Here a and b are arguments

12

In [84]:
# Non-paramterized function 

def add():# function declaration 

    # Function body
    a = eval(input('Enter a number: '))
    b = eval(input('Enter a number: '))

    c = a+b

    return c

In [85]:
add()

Enter a number:  1
Enter a number:  2

3

### Global and Local variable 

#### Global Variables 
    
- The variables that are defined outside the function are known as global variables 
- The Global variable has a scope both outside as well as inside the function 
    
#### Local Variable 

- The variables that are defined inside a function are known as local variables 
- The local variables have the scope only inside the function 
- We cannot use the local variable outside the function

In [87]:
a = 10 # Global variable 

def test():
    print(a)

test()
print(a)

10
10

In [94]:
a = 10

def test_1():
    print(a)
    k= 0 # local variable 
    print(k)

test_1()
print(k)

10
0

NameError: name 'k' is not defined

In [95]:
#  Global keyword is used to convert a local variable to a global variable 
a = 10

def test_1():
    print(a)
    global k
    k= 0 # local variable 
    print(k)

test_1()
print(k)

10
0
0

### Return vs Print

#### Print 
     
- when we use print statement in a program, we are essentially asking the interpretor to display something, typically for the benefit of the user or for debugging purposes.
- It does not affects the flow of the program or provide any data that can be manipulated further
- if we are going to store this print statement in a variable and check the type of it, it will return a __None__ datattype

#### Return 

- It is used within functions to send a value or data back to the caller
- So that it can be manipulated further 
- if we are going to store this print statement in a variable and check the type of it, it will return a value
- It terminates the function declaration

In [97]:
def add(a,b):
    print(a+b)

In [99]:
x = add(7,8)
print(x)

15
None

In [113]:
def add(a,b):
    c= a+b
    return c

In [110]:
y = add(7,8)

15

In [111]:
y

15

In [103]:
x+y

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [108]:
y

15

In [ ]:
x = 7.8
print(x)

- A function may or may not return a value 
- return statement is used to return a value from the function
- return statement returns the value back to the function call 
- we assign the function to a variable, so that we can handle the return value for further processing
- If we want to use the result, we have to assign the function call to a variable 
- return statement will terminate the function declaration

__Note:__ print() statement does not return anything, it returns a None Datatype

In [114]:
a = add(100,101)
print(a)

201

In [116]:
a  = a+1
print(a)

202

### Types of Argument

1. Required positional argument
2. Default arguments
3. Keyworded arguments 
4. Variable length arguments (*args)
5. Keyworded variable length arguments (*kwargs)

### 1. Required Positional Argument 

- The number of variable inside the function declaration and the function call should be the same 
- The value passed from the arguments to parameters should be in a sequence as they are positioned 
- The variable in function call and in function declaration may be same or different, it doesn't matter

In [117]:
def course(a,b):
    print(a)
    print(b)

In [118]:
course(6,7)

6
7

In [119]:
course(6,7,8)

TypeError: course() takes 2 positional arguments but 3 were given

In [120]:
course(7,6)

7
6

In [121]:
x = 100
y = 20

course(x,y) # a = x ---> a = 100, y = b ---> y = 20

100
20

### 2. Default argument

- When we assign some value to a variable in a function declaration itself the it becomes a default argument
- If we dont pass any value for the default argument, then it will take the default value that we have already declared while declaring the function 
- if we pass some value  to the default argument, then it will take the passed value in it 
- Default argument should always be placed after the positional argument
- The variable name in the function and the function call maybe same or different, it doesn't matter

In [122]:
def add(a,b,c = 5):
    return a+b+c

In [123]:
add(1,2,3) # a = 1, b = 2 and c = 3

6

In [124]:
add(1,2) # a = 1, b = 2, and c = 5

8

In [125]:
for i in range(1,5):
    print(i, end = '\n')

1
2
3
4

In [126]:
for i in range(1,5):
    print(i, end = '=')

1=2=3=4=

In [127]:
for i in range(1,5):
    print(i, end = ',')

1,2,3,4,

In [128]:
def add(a = 10, b, c):
    return a+b+c

SyntaxError: non-default argument follows default argument (1281918385.py, line 1)

In [129]:
x = 10
y = 20
z = 1
add(x,y)

35

In [130]:
add(x,y,z)

31

### 3. Keyworded Argument

- When we assign some value to a variable in the function call, then it is known as keyworded argument
- The variable name for the keyworded argument should be the same in both the function declaration as well as in the function call 
- for keyworded argument the position or the order does not matter
- Keyworded argument should be placed after the positional argument

In [131]:
def course(a,b):
    print(a)
    print(b)

In [132]:
x = 'MCA'
course(x, b = 'Mtech')

MCA
Mtech

In [133]:
x = 'MCA'
course(x, y = 'Mtech')

TypeError: course() got an unexpected keyword argument 'y'

In [135]:
course(b = 'MCA', a = 'Mtech')

Mtech
MCA

### 4. Variable Length Argument 

- If we don't know the number of arguments to be passed, then we will use a variable length argument 
- It will going to store all the values inside a tuple 

__Syntax:__
    
    
        def function_name(*variable_name):
            code
            code 
            code

In [137]:
# create a function that adds n number taken as the arguments and return the sum of all them

def add(*a):
    s = 0

    for i in a: #(1,2,3,4,5,6,7)
        s = s+i
    return s

In [138]:
add(1,2,3,4,5,6,7)

28

In [ ]:
1st iteration ---> s= 0, i = 1,  s = 0+1 --->s = 1
2nd iteration ---> s = 1, i = 2, s = 1+2 ---> s = 3
3rd iteration ---> s= 3, i = 3, s = 3+3 ---> s = 6
4th iteration ---> s = 6, i = 4, s = 6+4 ---> s = 10
5th iteration ---s = 10, i = 5, s = 10+5 ---> s = 15
6th iteration ---> s = 15, i = 6, s = 15+6 --->s = 21
7th iteration ---> s = 21 , i = 7, s = 21+7 ---> s = 28

In [144]:
def multiply(a, *b):
    mul = 1*a
    for i in b:
        mul = mul*i
    return mul

In [145]:
multiply(10,2,3,4,5,6,7,8)  # a = 10 c = (2,3,4,5,6,7,8)

403200

In [ ]:
mul = 10
1st iteration ---> mul = 10, i = 2, mul = 10*2 ----> 20
2nd iteration ----> mul = 20, i = 3, mul = 20*3 ---> 60
3rd iteration ---> mul = 60, i = 4, mul = 60*4 ---> 240

### 5. Keyworded Variable length argument
- When we don't know how many keyworded arguments are there then we will use a keyworded variable length argument
- It stores the values as a dictionary
- The variable becomes the keys and the values associated with the variable become the values for the keys

__Syntax:__


            def function_name(**a):
                code 
                code 

                function_nmae(key1 = value1, key2 = value2, key3 = value3..........)

In [146]:
def course(**a):
    print(a, type(a))

In [147]:
course(a = 10, b = 20, c= 30)

{'a': 10, 'b': 20, 'c': 30} <class 'dict'>