### String Methods 

- Methods are functions only but they are defined for a particular class (string, list, tuple, dictionary, sets or frozensets)
- Functions are a block of code written to a task repeatedly when and if called

In [6]:
a = 'Python'
print(type(a))

<class 'str'>

To get the methods associated with the string class : 

                    varibale_name+press dot(.)+press tab key

In [8]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### capitalize()

- It converts the first letter in any sentence into uppercase
- It will return a new object, it will not going to make changes in the existing object (because strings are immutable)

In [9]:
a = 'this is a python class and we are learning python'
print(a, id(a))

this is a python class and we are learning python 2138235525520

In [14]:
b = a.capitalize()
print(b, id(b))

This is a python class and we are learning python 2138235526416

In [15]:
print(a)

this is a python class and we are learning python

### title() 

- It converts the first letter of each word in any sentence to uppercase
- It will return a new object, because the string are immutable

In [16]:
a

'this is a python class and we are learning python'

In [18]:
b = a.title()
print(b, id(b))

This Is A Python Class And We Are Learning Python 2138235527760

### upper()

- It will convert all the characters in the string to uppercase
- It will return a new object

In [19]:
a

'this is a python class and we are learning python'

In [20]:
b = a.upper()
print(b, id(b))

THIS IS A PYTHON CLASS AND WE ARE LEARNING PYTHON 2138235526304

### lower()

- It will convert all the character in the string to lowercase
- It will return a new object

In [21]:
b

'THIS IS A PYTHON CLASS AND WE ARE LEARNING PYTHON'

In [22]:
c = b.lower()
print(c, id(c))

this is a python class and we are learning python 2138235528208

In [23]:
print(b)

THIS IS A PYTHON CLASS AND WE ARE LEARNING PYTHON

In [24]:
print(a, id(a))

this is a python class and we are learning python 2138235525520

### swapcase()

- It converts the uppercase letters to lowercase letters and vice-versa in a string
- It will return a new object

In [25]:
a = "PyThOn"
print(a, id(a))
b = a.swapcase()
print(b, id(b))

PyThOn 2138236490288
pYtHoN 2138224090288

In [29]:
'PyThOn' == 'pYtHoN'

False

### casefold()

- It converts all the uppercase letter into lowercase letter
- It will return a new object

In [27]:
a = "PYTHON"
b = a.casefold()
print(b)

python

### Casefold() vs lower()

- lower() can convert all the ASCII characters
- casefold() can convert both the ASCII as well as the non-characters as well

In [30]:
a = 'Straẞe'
b = a.lower()
b

'straße'

In [31]:
c = a.casefold()
c

'strasse'

### count()

- It counts the occurrence of a particular character or a sub-string in a string

__Syntax:__

        my_str.count('character or 'sub_string')
        my_str.count('character', starting index)
        my_str.cout('character', starting index, ending index)

In [32]:
a = 'she sells sea shells on the sea shore'

In [33]:
a.count('s')

8

In [34]:
a.count('sea')

2

In [35]:
a.count(' ')

7

In [36]:
a.count('s', 1)

7

In [37]:
for i in range(len(a)):
    print(i, a[i])

0 s
1 h
2 e
3
4 s
5 e
6 l
7 l
8 s
9
10 s
11 e
12 a
13
14 s
15 h
16 e
17 l
18 l
19 s
20
21 o
22 n
23
24 t
25 h
26 e
27
28 s
29 e
30 a
31
32 s
33 h
34 o
35 r
36 e

In [38]:
a.count('s', 5, 32)

5

In [40]:
a[5:32].count('s')

5

In [43]:
a[-1:-38:-1].count('s')

8

In [44]:
a[-1:-38:-1]

'erohs aes eht no sllehs aes slles ehs'

In [45]:
a

'she sells sea shells on the sea shore'

In [46]:
a[5:31].count('s')

5

### index 

- It returns the index of the first occurrence of a character or a sub-string in a string
- If the character is not found, then it will throw a value error

__Syntax:__

                my_str.index('character' or 'sub-string')
                my_str.index('character', starting index)
                my_str.index('character', starting index, ending index)

In [47]:
a

'she sells sea shells on the sea shore'

In [48]:
a.index('h')

1

In [49]:
a.index('a')

12

In [50]:
a.index('sea')

10

In [51]:
a.index('z')

ValueError: substring not found

In [53]:
a

'she sells sea shells on the sea shore'

In [54]:
a.index('s', 5, 11)

8

In [55]:
a.index('s', -11, -5)

28

In [56]:
for i in range(1, len(a)+1):
    print(-i, a[-i])

-1 e
-2 r
-3 o
-4 h
-5 s
-6
-7 a
-8 e
-9 s
-10
-11 e
-12 h
-13 t
-14
-15 n
-16 o
-17
-18 s
-19 l
-20 l
-21 e
-22 h
-23 s
-24
-25 a
-26 e
-27 s
-28
-29 s
-30 l
-31 l
-32 e
-33 s
-34
-35 e
-36 h
-37 s

### find

- It returns the index of the first occurrence of a character or a sub-string in a string
- If the character is not found, then it will give -1

__Syntax:__

                my_str.find('character' or 'sub-string')
                my_str.find('character', starting index)
                my_str.find('character', starting index, ending index)

In [58]:
a

'she sells sea shells on the sea shore'

In [59]:
a.find('z')

-1

In [60]:
a.find('s', 15, 29)

19

In [61]:
a.find('sea', 15, 29)

-1

In [68]:
a.find('s', -11, -5)

28

### rfind()

- It reads the string from right to left
- It returns the index of the first occurrence from right to left of the specified character
- If the character or sub-string is not found, then it will return - 1

___Note:__ It only reads from right to left, but the index that it will return will follow the positive index

__Syntax:__

                my_str.rfind('character' or 'sub-string')
                my_str.rfind('character', starting index)
                my_str.rfind('character', starting index, ending index)

In [62]:
a

'she sells sea shells on the sea shore'

In [63]:
for i in range(len(a)):
    print(i, a[i])

0 s
1 h
2 e
3
4 s
5 e
6 l
7 l
8 s
9
10 s
11 e
12 a
13
14 s
15 h
16 e
17 l
18 l
19 s
20
21 o
22 n
23
24 t
25 h
26 e
27
28 s
29 e
30 a
31
32 s
33 h
34 o
35 r
36 e

In [64]:
a.rfind('s')

32

In [65]:
a.rfind('s', 7, 14)

10

In [66]:
a[7:14]

'ls sea '

In [67]:
a.find('s', 7, 14)

8

### split()

- It spilts the string from the specified character and returns a list
- By default, space will be taken as the specified character and the spliting of the string will happen on the spaces

In [69]:
a

'she sells sea shells on the sea shore'

In [70]:
a.split()

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [71]:
a = 'mayank-atul-ghai'
a.split('-')

['mayank', 'atul', 'ghai']

In [72]:
a = '+91-8360984479'
a.split('-')

['+91', '8360984479']

In [73]:
a = ''
a.spilt()

AttributeError: 'str' object has no attribute 'spilt'

In [74]:
a = 'she sells sea shells on the sea shore'
a.split('')

ValueError: empty separator

In [75]:
a = 'mayank atul ghai'
a.split('a')

['m', 'y', 'nk ', 'tul gh', 'i']

### join()

- It combines the element of the list seperated by a specified character and will return a string back to us

__Syntax:__

        'specified_Character'.join(list)

In [76]:
lst = ['m', 'y', 'nk ', 'tul gh', 'i']

In [77]:
x = 'a'.join(lst)
x

'mayank atul ghai'

In [78]:
lst = ['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

x = ' '.join(lst)

In [79]:
x

'she sells sea shells on the sea shore'

### strip()

- It removes the specified character from the left and the right of the string
- By default, it removes space character from the left and the right side of the string

__Note:__ 
- It removes the boundary character and not the character inside the string

__Syntax:__

            my_str.strip('character')

In [80]:
my_str = '$150$'
p = my_str.strip('$')
p

'150'

In [81]:
my_str = '$1$5$0$'
p = my_str.strip('$')
p

'1$5$0'

In [82]:
my_str = '         Python          '
p = my_str.strip()
p

'Python'

In [83]:
my_str = '$150$$'
p = my_str.strip('$')
p

'150'

### lstrip()

- It removes the specified character from only the left side of the string
- By default, it will remove space character

In [84]:
my_str = '$150$'
p = my_str.lstrip('$')
p

'150$'

In [85]:
my_str = '$150$$'
p = my_str.lstrip('$')
p

'150$$'

In [86]:
my_str = '         Python          '
p = my_str.lstrip()
p

'Python          '

### rstrip()

- It removes the specified character from only the right side of the string
- By default, it will remove space character

In [87]:
my_str = '$150$'
p = my_str.rstrip('$')
p

'$150'

In [88]:
my_str = '$150$$'
p = my_str.rstrip('$')
p

'$150'

In [89]:
my_str = '         Python          '
p = my_str.rstrip()
p

'         Python'

Why is the bitwise NOT of a number x (~x) equal to -x - 1?

In [93]:
x = 20
~x

-21

In [92]:
a = 'hello'
a.split("ll")

['he', 'o']