### List Methods

In [1]:
lst = [1,2,3,4,5]
print(lst, type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [2]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [3]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 1. append()

- It adds the element at the end of the list
- The addition of an element inside the list will not create a new object

In [4]:
lst

[1, 2, 3, 4, 5]

In [5]:
lst.append(6)

In [6]:
lst

[1, 2, 3, 4, 5, 6]

In [7]:
id(lst)

2313395206912

In [8]:
lst.append(123)

In [9]:
print(lst, id(lst))

[1, 2, 3, 4, 5, 6, 123] 2313395206912

In [10]:
lst.append(1,2,3,4,5)

TypeError: list.append() takes exactly one argument (5 given)

In [11]:
lst.append([1,2,3,4])
print(lst)

[1, 2, 3, 4, 5, 6, 123, [1, 2, 3, 4]]

In [12]:
lst.append('mayank')

In [13]:
lst

[1, 2, 3, 4, 5, 6, 123, [1, 2, 3, 4], 'mayank']

In [14]:
lst.append((1,2))
print(lst)

[1, 2, 3, 4, 5, 6, 123, [1, 2, 3, 4], 'mayank', (1, 2)]

### 2. extend()

- Unlike append() method, extend() method can take an iterable object as an argumnet
- It adds the elements of the iterable object to a list one by one

In [21]:
lst = [2,4,6,8,10]
lst.extend([1,2,3])
lst

[2, 4, 6, 8, 10, 1, 2, 3]

In [22]:
lst.extend('1234')
lst

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4']

In [23]:
lst.extend(12)

TypeError: 'int' object is not iterable

In [24]:
lst

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4']

In [25]:
lst.extend((1.0, 3+5j, 'python', range(5), True, None))
print(lst)

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None]

### index()

- It returns the index of the first occurrence of an element from left to right
- If the element is not found, then it will return a __value error__

__Syntax:__

        lst.index(element, starting index)
        lst.index(element, starting index, ending index)

In [26]:
print(lst)

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None]

In [27]:
lst.index(1.0)

5

In [28]:
1 == 1.0

True

In [29]:
1 == True

True

In [30]:
1 == '1'

False

In [31]:
1 == 1+0j

True

In [32]:
lst.index(1.1)

ValueError: 1.1 is not in list

In [33]:
lst.index(True)

5

In [36]:
lst.append(0)
lst.append(False)

In [37]:
print(lst)

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None, 0, 0, False]

In [39]:
lst.index(0)

18

In [40]:
lst.index(1, 6)

12

In [45]:
for i in range(len(lst)):
    if type(lst[i]) == bool :
        if lst[i] == True:
             print(i)

16

In [47]:
for i in range(len(lst)):
    if type(lst[i]) == bool and lst[i] == True:
        print(i)

16

In [50]:
lst.index(1, 13)

16

4. Count()

- It will count the number of occurrence of the element inside a list

In [53]:
print(lst)

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None, 0, 0, False]

In [54]:
lst.count(1)

3

In [55]:
1 == '1'

False

In [56]:
lst.count('Python')

0

### 5. pop()

- It returns the element available at a particular index and removes the element from the list
- By default, it returns and removes the last element of the list
- For an invalid index, it returns an index error

__Syntax:__

            lst.pop(index)

In [57]:
lst = [True, 'hello', 'python', False, 5-9j, {1:100, 2:200, 3:300}]
lst

[True, 'hello', 'python', False, (5-9j), {1: 100, 2: 200, 3: 300}]

In [58]:
x = lst.pop()
x

{1: 100, 2: 200, 3: 300}

In [59]:
lst

[True, 'hello', 'python', False, (5-9j)]

In [60]:
y = lst.pop(1)
print(y, lst)

hello [True, 'python', False, (5-9j)]

#### remove()

- It removes the first occurrence of the specified element from list in the direction from left to right
- If the element is not found, then it will throw an __value error__

In [61]:
lst = [True, 'hello', 'python', False, 5-9j, {1:100, 2:200, 3:300}]
lst

[True, 'hello', 'python', False, (5-9j), {1: 100, 2: 200, 3: 300}]

In [62]:
lst.remove('python')

In [63]:
lst

[True, 'hello', False, (5-9j), {1: 100, 2: 200, 3: 300}]

In [64]:
lst1 = [2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None]
print(lst1)

[2, 4, 6, 8, 10, 1, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None]

In [66]:
lst1.remove(True)
lst1

[2,
 4,
 6,
 8,
 10,
 2,
 3,
 '1',
 '2',
 '3',
 '4',
 1.0,
 (3+5j),
 'python',
 range(0, 5),
 True,
 None]

In [67]:
print(lst1)

[2, 4, 6, 8, 10, 2, 3, '1', '2', '3', '4', 1.0, (3+5j), 'python', range(0, 5), True, None]

In [68]:
lst1.remove(True)
print(lst1)

[2, 4, 6, 8, 10, 2, 3, '1', '2', '3', '4', (3+5j), 'python', range(0, 5), True, None]

### reverse()

- It will reverse the list
- It makes the changes in the existing list

In [70]:
print(lst, id(lst))

['hello', False, (5-9j), {1: 100, 2: 200, 3: 300}] 2313409354944

In [71]:
lst.reverse()
print(lst, id(lst))

[{1: 100, 2: 200, 3: 300}, (5-9j), False, 'hello'] 2313409354944

### sort()

- It will sort the list in the ascending order or descending order
- By default, it will sort the list in the ascending order
- It will make the changes in the existing list only

In [82]:
# Ascending order

import numpy as np

# this code is used to create 12 random values between 1-100
np.random.seed(10) # it will fix the state 
arr = np.random.randint(1, 100, 12)
arr = list(arr)
arr

[10, 16, 65, 29, 90, 94, 30, 9, 74, 1, 41, 37]

In [81]:
arr.sort()

In [77]:
arr

[1, 9, 10, 16, 29, 30, 37, 41, 65, 74, 90, 94]

In [78]:
# Descending order

arr.sort(reverse = True)

In [79]:
arr

[94, 90, 74, 65, 41, 37, 30, 29, 16, 10, 9, 1]

##### If the list contains duplicated values in it

In [83]:
lst = [1,2,3,4,5,1,2,3,2,1]
lst.sort()
lst

[1, 1, 1, 2, 2, 2, 3, 3, 4, 5]

In [84]:
a = 'Mayank Atul Ghai'
b = list(a)
print(b)

['M', 'a', 'y', 'a', 'n', 'k', ' ', 'A', 't', 'u', 'l', ' ', 'G', 'h', 'a', 'i']

In [85]:
b.sort()
print(b)

[' ', ' ', 'A', 'G', 'M', 'a', 'a', 'a', 'h', 'i', 'k', 'l', 'n', 't', 'u', 'y']

In [86]:
ord(' ')

32

In [87]:
ord('A')

65

In [88]:
lst = [True, 'hello', 'python', False, 5-9j, {1:100, 2:200, 3:300}]
lst.sort()
lst

TypeError: '<' not supported between instances of 'str' and 'bool'

### insert()

- It is used to insert an element at a particular index
- The previous element at that particular index will be shifted to the right hand side

__Syntax:__

        lst.insert(index, element)

In [89]:
lst

[True, 'hello', 'python', False, (5-9j), {1: 100, 2: 200, 3: 300}]

In [90]:
lst.insert(2, 'mayank')
print(lst)

[True, 'hello', 'mayank', 'python', False, (5-9j), {1: 100, 2: 200, 3: 300}]

In [91]:
lst.insert(-1, 'learnbay')
print(lst)

[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}]

In [93]:
lst.insert(len(lst), 'Data')
print(lst)

[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data']

In [95]:
lst = [True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}]
lst.insert(50, 'Data')
lst.insert(20, 'Science')
print(lst)

[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science']

### copy()

- It copies all the element from the list and return a new lisr with all the same elements of the previous list

In [98]:
print(lst, id(lst))

[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science'] 2313409555776

In [99]:
lst2 = lst.copy()
print(lst2, id(lst2))

[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science'] 2313409548992

In [100]:
lst[0] = 50
print(lst)

[50, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science'] [True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science']

In [101]:
print(lst)
print(lst2)

[50, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science']
[True, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science']

### Aliasing

In [102]:
lst1 = lst
print(lst, id(lst))
print(lst1, id(lst1))

[50, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science'] 2313409555776
[50, 'hello', 'mayank', 'python', False, (5-9j), 'learnbay', {1: 100, 2: 200, 3: 300}, 'Data', 'Science'] 2313409555776

### List are Mutable in nature 

- We can modify the values after the declaration of the object
- Item re-assignment is also possible here
- The address remains the same before and after the modification

### Tuples 

- Anything written inside the round paranthese or round brackets() is a tuple
- Just like the list, here the elements are seperated by a comma from each other
- A tuple is also container datatype, that means it can have multiple elements in it
- A tuple can contain hetergenous (different types) element in it
- A tuple can contain duplicated element as well
- The only exception here is that tuples are immutable, i.e. we cannot modify them i.e. we cannot remove an element, insert and element and we cannot do item re-assign at any index

In [103]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [104]:
t = (1)
print(t, type(t))

1 <class 'int'>

In [105]:
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

In [106]:
t = (1,2.0,3+6j, True, None, 'Python', range(5), [1,2,3], (1,2,3), {1:100, 2:200})
print(t, type(t))

(1, 2.0, (3+6j), True, None, 'Python', range(0, 5), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}) <class 'tuple'>

In [107]:
t.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [108]:
t.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [109]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [110]:
t1 = t + (18)
print(t1)

TypeError: can only concatenate tuple (not "int") to tuple

In [111]:
print(t, id(t))

(1, 2.0, (3+6j), True, None, 'Python', range(0, 5), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}) 2313409488704

In [112]:
t1 = t + (18,)
print(t1, id(t1))

(1, 2.0, (3+6j), True, None, 'Python', range(0, 5), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}, 18) 2313397359936

### Tuples are immutable 

- We cannot modify the values one declared
- Item reassignment is not possible
- Addresses are going to be different after modification

In [113]:
t.extend([1,2,3])

AttributeError: 'tuple' object has no attribute 'extend'

In [114]:
t.insert(1, 60)

AttributeError: 'tuple' object has no attribute 'insert'

### Operations on the Tuple 

- length
- conatenation
- repeitition
- Indexing and Slicing

#### Length

- It tells us about the number of elements a tuple contains
- __len()__ function is used

In [115]:
t = (1,2,3,4,5)
print(len(t))

5

### Concatenation

- Joining or adding  two or more tuple together is known as concatenation

In [116]:
t

(1, 2, 3, 4, 5)

In [117]:
t+(18,19,20)

(1, 2, 3, 4, 5, 18, 19, 20)

In [118]:
t

(1, 2, 3, 4, 5)

### Repetition 

- (*) operator is used to perform the repetition on a tuple

In [121]:
t = (1,2,3)

In [122]:
t*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

### Indexing and Slicing

- A tuple is an container datatype because it can have multiple element in it
- A tuple is a sequential datatype because it retains the index of each element in the order we have pass them means it follows indexing
- A tuple supports both positive indexing and negative indexing

In [124]:
t = (1,2,3,4,5)

#### Positive indexing 

- The direction in which it moves is from left to right
- By default, the indexing starts from 0
- The index of the last element is len(tuple)-1

#### Negative Indexing 

- The direction in which it moves is from right to left
- By default, the indexing will start from -1
- The index of the last element is -len(tuple)

                                             0  1  2  3  4 ----> Positive indexing
                                            (1, 2, 3, 4, 5)
                                            -5 -4 -3 -2 -1 ----> Negative indexing

### Slicing 


__Syntax:__

                tuple_variable[starting_index : ending_index : step-size]

In [126]:
t = (10,20,30,40,50)

In [127]:
t[1:]

(20, 30, 40, 50)

In [128]:
t[::-1]

(50, 40, 30, 20, 10)

In [129]:
t

(10, 20, 30, 40, 50)

In [130]:
t[-1::-1]

(50, 40, 30, 20, 10)

In [131]:
t[-1::-2]

(50, 30, 10)

### How to create a tuple

#### Case-1 

- When we already know the element

In [132]:
t = (True, False, 'hello', 'python', (1,2,3), [1,2,3])
print(t, type(t))

(True, False, 'hello', 'python', (1, 2, 3), [1, 2, 3]) <class 'tuple'>

#### Case-2 

- We can use typcasting to create a tuple
- We can typecast any iterable object (range, string, list, dictionary, set and frozenset)

In [133]:
a = range(10)
b = tuple(a)
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [134]:
a = 'Mayank'
b = tuple(a)
print(b)

('M', 'a', 'y', 'a', 'n', 'k')

In [135]:
a = [1,2,3,4,5]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

In [136]:
a = {1:100, 2:200, 3:300}
b = tuple(a)
print(b)

(1, 2, 3)

In [137]:
tuple(12)

TypeError: 'int' object is not iterable

### Case-3 

- Tuple comprehension
- It is the easiest way to create a generator object

In [139]:
# WAP to have even number in a list between 1-100 using list comprehension 

even_num = [i for i in range(1,101) if i%2 == 0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [140]:
# WAP to have even number in a list between 1-100 using tuple comprehension 

even_num1 = (i for i in range(1,101) if i%2 == 0)
print(even_num1)

<generator object <genexpr> at 0x0000021AA1FE93C0>

### Case-4 

- Using loops

In [144]:
# WAP to create a tuple having the element from a lst = [1,2,3,4,5] multiplied by 5 

# Convential way 
lst = [1,2,3,4,5]
tup = ()
for i in lst:
    tup = tup + (i*5,)

print(tup)


# List comprehension and typecasting 

tup = tuple([i*5 for i in lst])
tup

(5, 10, 15, 20, 25)

(5, 10, 15, 20, 25)

### Case-5

- we can create a tuple using round bracket ()

In [145]:
a = (10,20,30)
a

(10, 20, 30)

### Case-6 

- Packing: We are assigning multiple values to a single variable, by default, python will store them as tuples

In [148]:
a = 10,20,30,40,50
print(a, type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

- unpacking: Assigning values to multiple variable from a single variable is knowns as unpacking

In [150]:
emp_detail = 'Mayank Ghai', 29, 'Bengaluru', '100000'
print(emp_detail)

('Mayank Ghai', 29, 'Bengaluru', '100000')

In [151]:
name, age, city, salary = emp_detail

In [152]:
name

'Mayank Ghai'

In [153]:
age

29

In [154]:
city

'Bengaluru'

In [155]:
salary

'100000'

In [156]:
name, city,age, salary = emp_detail

In [157]:
name

'Mayank Ghai'

In [158]:
age

'Bengaluru'

In [159]:
city

29

### Methods

In [161]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### Count

- It counts the number of occurrences of an element inside a tuple
- By default, if the element is not found, it will return a zero

In [163]:
np.random.seed(10) # it will fix the state 
arr = np.random.randint(1, 5, 12)
arr = tuple(arr)
arr

(2, 2, 1, 4, 1, 2, 4, 1, 2, 2, 1, 2)

In [165]:
arr.count(2)

6

In [166]:
arr.count(10)

0

### index()

- It returns the index of the first occurrence of an element from left to right
- if the element is not found inside the tuple, it will throw a __value error__

In [167]:
t = (1,9,8,7,6,3,5,1,6,1)

In [168]:
t.index(4)

ValueError: tuple.index(x): x not in tuple

In [169]:
t.index(1)

0

In [170]:
t.index(1,1)

7

In [176]:
even=()
odd=()
for i in range(1,101):
    if i%2==0:
        even=even+(i,)
    else:
        odd=odd+(i,)
        
print(even)
print('----------')
print(odd)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)
----------
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)

In [180]:
even=()
odd=()
for i in range(1,101):
    if i%2==0:
        even=even+ tuple(str(i))
    else:
        odd=odd+ tuple(str(i))
        
print(even)
print('----------')
print(odd)

('2', '4', '6', '8', '1', '0', '1', '2', '1', '4', '1', '6', '1', '8', '2', '0', '2', '2', '2', '4', '2', '6', '2', '8', '3', '0', '3', '2', '3', '4', '3', '6', '3', '8', '4', '0', '4', '2', '4', '4', '4', '6', '4', '8', '5', '0', '5', '2', '5', '4', '5', '6', '5', '8', '6', '0', '6', '2', '6', '4', '6', '6', '6', '8', '7', '0', '7', '2', '7', '4', '7', '6', '7', '8', '8', '0', '8', '2', '8', '4', '8', '6', '8', '8', '9', '0', '9', '2', '9', '4', '9', '6', '9', '8', '1', '0', '0')
----------
('1', '3', '5', '7', '9', '1', '1', '1', '3', '1', '5', '1', '7', '1', '9', '2', '1', '2', '3', '2', '5', '2', '7', '2', '9', '3', '1', '3', '3', '3', '5', '3', '7', '3', '9', '4', '1', '4', '3', '4', '5', '4', '7', '4', '9', '5', '1', '5', '3', '5', '5', '5', '7', '5', '9', '6', '1', '6', '3', '6', '5', '6', '7', '6', '9', '7', '1', '7', '3', '7', '5', '7', '7', '7', '9', '8', '1', '8', '3', '8', '5', '8', '7', '8', '9', '9', '1', '9', '3', '9', '5', '9', '7', '9', '9')

In [181]:
a = (1)

TypeError: 'int' object is not iterable

In [182]:
a = ['Sudhir', 'Mayank', 'Anjani'],[23, 29, 28]

In [183]:
names, ages = a

In [184]:
names

['Sudhir', 'Mayank', 'Anjani']

In [185]:
ages

[23, 29, 28]