### ljust, rjust and Center 

- These are the justification methods
- These methods are used to add a specific character either on the left side or on the right side or on both side of the string
- By default, space if considered as the specified character

#### ljust

- This method are used to add a specific character

__Syntax:__ 

                my_str.ljust(len of the resultant string, 'character')
                                    or
                my_str.ljust(len(my_str)+number of the character, 'character')

my_str = 'Python'

Output = Python__


                               P y t h o n _ _
                               _ _ _ _ _ _ _ _

In [1]:
my_str = 'Python'

my_str.ljust(8, '_')

'Python__'

In [2]:
my_str.ljust(len(my_str)+2, '_')

'Python__'

### rjust
my_str = 'Python'

Output = +_Python


                               _ _ P y t h o n 
                               _ _ _ _ _ _ _ _

In [3]:
my_str.rjust(len(my_str)+1, '_')

'_Python'

In [4]:
my_str.rjust(len(my_str)+1, '_').rjust(len(my_str)+1+1, '+')

'+_Python'

In [7]:
a = my_str.rjust(len(my_str)+1, '_')
a.rjust(len(a)+1, '+')

'+_Python'

In [11]:
my_str.rjust(len(my_str)+2,'+_')

TypeError: The fill character must be exactly one character long

### center 

- It adds a specified character on both the side of the strings

__Syntax:__

            my_str.center(len of the resultant string, 'character')
                             or 
            my_str.center(len(my_str)+number of character, 'character')

In [12]:
my_str

'Python'

In [13]:
my_str.center(len(my_str)+4, '+')

'++Python++'

In [14]:
my_str.center(len(my_str)+5, '+')

'+++Python++'

In [15]:
my_str = 'jay'
my_str.center(len(my_str)+5, '+')

'++jay+++'

__Note:__

- If the length of the string is odd, preference will be given to the right
- If the length of the string is even, preference will be given to the left

#### To add a specfied character in the left hand side and another character on the right hand side

In [34]:
# Output = ++Data--

my_str = 'Alphabet'
b = my_str.ljust(len(my_str)+2,'-')
print(b)
c = b.rjust(len(b)+2, '+')
c

Alphabet--

'++Alphabet--'

In [25]:
my_str.ljust(len(my_str)+2, '-').rjust(len(my_str)+2+2, '+')

'++Data--'

In [27]:
my_str.ljust(len(my_str), '-')

'Data'

In [33]:
my_str.ljust(len(my_str)+1,'-').rjust(len(my_str)+1+2,'^')

'^^Data-'

In [35]:

my_str = 'Alphabet'
b = my_str.ljust(len(my_str),'-')
print(b)
c = b.rjust(len(b)+2, '+')
c

Alphabet

'++Alphabet'

#### isalnum()

- It will return a True if all the characters of the string are alphanumeric else it will return a False
- Alpha-numeric means it should have 'A-Z', 'a-z' or '0-9'
- It can be any combination of the above-specified things
- Special characters ,underscore and space are not allowed

In [36]:
my_str = 'Data'
print(my_str.isalnum())

True

In [37]:
my_str = '1123'
print(my_str.isalnum())

True

In [38]:
my_str = 'Data123'
print(my_str.isalnum())

True

In [39]:
my_str = 'Data123@'
print(my_str.isalnum())

False

In [41]:
my_str = 'Data 123'
print(my_str.isalnum())

False

In [42]:
my_str = 'Data_123'
print(my_str.isalnum())

False

### isalpha()

- It will return a True, if all the characters of the string are alphabets else it will return a False
- Here, the string should be a combination of 'A-Z' or 'a-z'
- No digits, no special character, no underscore and no spaces are allowed

In [43]:
my_str = 'Data'
print(my_str.isalpha())

True

In [44]:
my_str = 'data'
print(my_str.isalpha())

True

In [45]:
my_str = 'data1'
print(my_str.isalpha())

False

### isupper()

- It will return a True, if all the character of the string are in uppercase else it will return a False
- It will not throw any error, if we include a special character, space, digit and even an underscore

In [46]:
my_str = 'Data'
print(my_str.isupper())

False

In [47]:
my_str = 'DATA'
print(my_str.isupper())

True

In [48]:
my_str = 'DATA@'
print(my_str.isupper())

True

In [53]:
my_str = '11112'
print(my_str.isupper())

False

### islower()

- It will return a True, if all the character of the string are in lowercase else it will return a False
- It will not throw any error, if we include a special character, space, digit and even an underscore

In [51]:
my_str = 'data'
print(my_str.islower())

True

In [52]:
my_str = '1111'
print(my_str.islower())

False

In [54]:
my_str = 'DATA'
print(my_str.islower())

False

### istitle()

- It returns a True if the string is in Title case means every first letter of a word in a sentence should be uppercase else it will return a False

In [55]:
a = 'Data science'
print(a.istitle())

False

In [59]:
a = 'Data Science'
print(a.istitle())

True

### isspace()

- It will return a True if all the characters in the string are space characters
- Space characters - \n, \t, \v, \r and space

In [60]:
my_str = ' '
print(my_str.isspace())

True

In [64]:
my_str = '\n'
print(my_str.isspace())

True

In [63]:
my_str = 'Mayank\n'
print(my_str.isspace())

False

### startswith()

- It will return a True if the string starts with a specified character or a specified sub-string else it will return a False

In [66]:
my_str = 'data science'
print(my_str.startswith('d'))

True

In [67]:
my_str = 'data science'
print(my_str.startswith('da'))

True

In [68]:
my_str = 'data science'
print(my_str.startswith('data'))

True

In [69]:
my_str = 'data science'
print(my_str.startswith('data1'))

False

### endswith()

- It will return a True if the string ends with a specified character or a specified sub-string else it will return a False

In [72]:
my_str = 'data science'
print(my_str.endswith('e'))

True

In [73]:
my_str = 'data science'
print(my_str.endswith('ce'))

True

In [74]:
print(my_str.endswith('de'))

False

In [75]:
print(my_str.endswith('ata science'))

True

### Identifiers 

- An identifier is a name in Python
- Variable name, function name, object name, class name

#### Properties of Identifiers 

- An identifier may have alphanumeric characters (A-Z, a-z or 0-9) and underscore (_)
- An identifier may begin with an alphabet or an underscore, but it should never begin with a number
- An identifier may have a number but after an alphabet or an underscore
- No special characters are allowed
- It is case sensitive i.e. Python and python are treated differently

#### isidentifier()

- It will return a True if the string is a valid identifier else it will return a False

In [76]:
a = 'Mayank_ghai_123'
print(a.isidentifier())

True

In [77]:
a = 'Mayank_ghai_!23'
print(a.isidentifier())

False

In [78]:
a = '123Mayank_ghai_'
print(a.isidentifier())

False

In [79]:
a = '_123Mayank_ghai_'
print(a.isidentifier())

True

#### isprintable()

- It returns a True if all the characters in the string are printable else it will return a False

In [80]:
a = 'Hello world'
print(a.isprintable())

True

In [81]:
a = 'Hello\nworld'
print(a.isprintable())

False

In [82]:
print(a)

Hello
world

In [83]:
a = 'Hello\tworld'
print(a.isprintable())

False

In [84]:
print(a)

Hello	world

### replace

- It replaces an existing character or an existing sub-string with a new character or a new sub-string
- It does not make any changes in the existing string
- It will create a new object

__Syntax:__

        my_str.replace('character', 'new-character')
                    or
        my_str.replace('sub-string', 'new-sub-string')

In [85]:
my_str = 'Hello sunday'
print(my_str, id(my_str))

Hello sunday 1139019704624

In [89]:
b = my_str.replace('sunday', 'monday')
print(b, id(b))

Hello monday 1139019712112

In [90]:
b = my_str.replace('Sunday', 'monday')
print(b, id(b))

Hello sunday 1139019704624

### isnumeric(), isdigit() and isdecimal()

#### isnumeric()

- It will return a True if all the elements in the string are either digits, superscript, subscript, vulgar fractions, or Roman numbers else it will return a False

#### isdigit()

- It will return a True if all the elements are digits, superscript and sub-script else it will return a False

#### isdecimal()

- It will return a True if all the elements of the string are only digits else it will return a False

In [91]:
a = '10'

print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
True

In [92]:
a = '2\u2082'
a

'2₂'

In [93]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

In [94]:
a = '5'+chr(189)
a

'5½'

In [95]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
False
False

In [96]:
a = '10.1'
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

False
False
False

In [98]:
a = '\u2160'
a

'Ⅱ'

In [99]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
False
False